
<!DOCTYPE html>


<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html class="no-js">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://www.divismart.com/static/site/logo.png">

  <!-- Compiled and minified CSS -->

    <link href="https://www.divismart.com/static/site/css/materialize.css" rel="stylesheet">
    <link href="https://www.divismart.com/static/site/css/mat-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://www.divismart.com/static/site/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://www.divismart.com/static/site/js/materialize.js"></script>
    <script type="text/javascript" src="https://www.divismart.com/static/site/js/init.js"></script>

    </head><!--/head-->

    <body>


          <!-- header Nav Start -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href='http://divismart.com/about/' title='About'>About Us</a></li>
        <li><a href='http://divismart.com/faq/' title='FAQ'>FAQ</a></li>
        <li><a href='http://divismart.com/guide/' title='Resources'>Resources</a></li>
        <li><a href='http://divismart.com/disclaimer/' title='Disclaimer'>Disclaimer</a></li>
        <li><a href='http://divismart.com/contact/' title='Contact'>Contact</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href='http://divismart.com/accounts/' title='Account'>Account Details</a></li>
        <li><a href='http://divismart.com/accounts/signout' title='Logout'>Logout</a></li>
    </ul>

    <ul id="dropdown3" class="dropdown-content">
        <li><a href='http://divismart.com/about/' title='About'>About Us</a></li>
        <li><a href='http://divismart.comhttp://divismart.com/faq/' title='FAQ'>FAQ</a></li>
        <li><a href='http://divismart.com/guide/' title='Resources'>Resources</a></li>
        <li><a href='http://divismart.com/disclaimer/' title='Disclaimer'>Disclaimer</a></li>
        <li><a href='http://divismart.com/contact/' title='Contact'>Contact</a></li>
    </ul>
    <ul id="dropdown4" class="dropdown-content">
        <li><a href='http://divismart.com/accounts/' title='Account'>Account Details</a></li>
        <li><a href='http://divismart.com/accounts/signout' title='Logout'>Logout</a></li>
    </ul>

    
    <ul class="side-nav" id="mobile-demo">
        <li><a href='http://divismart.com/' title='Home'>Home</a></li>
        <li><a href='http://divismart.com/cashflow_engine/' title='Analyze'>Run Analysis</a></li>
        <li><a href='http://divismart.com/pricing' title='Pricing'>Pricing</a></li>
        <li><a class="dropdown-button" href="#" data-activates="dropdown1">More<i class="material-icons right">arrow_drop_down</i></a></li>
        
            <li><a class="dropdown-button" href="#" data-activates="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        
    </ul>

    <div class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper">
                <a class="brand-logo left" href="/">
                    <img src="https://www.divismart.com/static/site/images/ico/logo.png" alt="Logo">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="http://divismart.com/" title='Home'>Home</a></li>
                    <li><a href='http://divismart.com/cashflow_engine/' title='Analyze'>Run Analysis</a></li>
                    <li><a href='http://divismart.com/pricing' title='Pricing'>Pricing</a></li>
                    <li><a class="dropdown-button" href="#" data-activates="dropdown3">More<i class="material-icons right">arrow_drop_down</i></a></li>
                    
                        <li><a class="dropdown-button" href="#" data-activates="dropdown4">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                    
                </ul>
                <ul class="right">
                    <li>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons right">menu</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

<header>
  <h1>{{ page.title }} </h1>
</header>

<br><br><br>
<div class="row">
<div class="col s8 offset-s2">
<ul>
  {{ content}}
</ul>
</div></div>
     <footer class="page-footer" style="background-color:#1b232c;">
      <div class="row" style="padding:0% 10% 0% 10%">
        <div class="col l6 s12">
          <h5 class="white-text">DiviSmart</h5>
          <p class="grey-text text-lighten-4"><i>Customized Real Estate Analytics for Information and Marketing</i></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Resources</h5>
          <ul>
            <li><a class="white-text" href="/cashflow_engine">DiviSmart Report</a></li>
            <li><a class="white-text" href="/faq">FAQ</a></li>
            <li><a class="white-text" href="/disclaimer">Disclaimer</a></li>
            <li><a class="white-text" href="/guide">Report Guide</a></li>
            <li><a class="white-text" href="/accounts/signin">Login/Signup</a></li>
          </ul>
        </div>
                  <div class="col l3 s12">
          <h5 class="white-text">   Company Info</h5>
          <ul>
            <li><a class="white-text" href="/about">About</a></li>
            <li><a class="white-text" href="/contact">Contact</a></li>
            <li><a class="white-text" href="/privacy_policy">Privacy Policy</a></li>
            <li><a class="white-text" href="/terms">Terms and Conditions</a></li>
          </ul>
        </div>

      </div>
    
    <div class="footer-copyright">
      <div class="container">
      Divismart LLC
      </div>
    </div>
  </footer>
        

    <script>
        $( document ).ready(function() {
        $(".dropdown-button").dropdown();
            $(".button-collapse").sideNav();
});
    </script>
    </div>
    </body>

<script>
    $(document).on('scroll', function (e) {
        if ($(window).scrollTop() >= 50) {
            $('.navbar-fixed').css('opacity', .7);
        }
        else {
            $('.navbar-fixed').css('opacity', 1);

        }
});

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77439060-1', 'auto');
  ga('send', 'pageview');

</script>

<style>

li{
    margin-right:35px;
    font-weight:550;
  }

</style>

    </html>

